<p id="notice"><%= notice %></p>

<h1>Wikiposts</h1>

<div>
    <% @wikipost.each do |post| %>
        <p>
            <h4> <%= post.title %> </h4>
    
            <%= link_to "View", wikipost_path(post) %>
        </p>

    <% end %>
</div>

<%= link_to "About", welcome_about_path %>
<%= link_to "New Post", new_wikipost_path %>
