<p id="notice"><%= notice %></p>

<h1> <%= @wikipost.title %> </h1>

<p>
<%= @wikipost.description %>
</p>

<div>
<%= image_tag (@wikipost.image) %>
<%= render 'meta', wikipost: @wikipost %>
</div> 

<%= link_to 'Edit', edit_wikipost_path(@wikipost) %> |
<%= link_to 'Back', wikiposts_path %>
